extends layout

block content

    script(type='application/javascript' src='public/js/pwbin.js')

    h1= title
    p Welcome to #{title}
    p Shorten Password
    form(id='main_form')
        input(placeholder='Password' type='password' id='password_input' autocomplete='off')
        br
        input(placeholder='PIN' type='num' id='pin_input' autocomplete='off')
        br
        input(type='submit')
    a(id='pw_url')

    script(type='application/javascript').

        const pwBin = new PWBin({baseUri: document.location.origin});

        const mainForm = document.getElementById('main_form');
        mainForm.onsubmit = function (event) {
            event.preventDefault();

            const password = document.getElementById('password_input').value;
            const pin = document.getElementById('pin_input').value;

            pwBin.storePassword(password, pin)
                .then(function (response) {
                    console.log(response);
                    mainForm.parentElement.removeChild(mainForm);
                    const url = `${document.location.origin}/${response.address}`;
                    const text = `https://pwbin.io/${response.address}`;
                    document.getElementById('pw_url').href = url;
                    document.getElementById('pw_url').innerText = text;
                })
                .catch(function (error) {
                    console.trace(error);
                });


            return false;
        }
